BasedOnStyle: LLVM
IndentWidth: 4

BreakStringLiterals: false
AllowAllParametersOfDeclarationOnNextLine: false
AlwaysBreakBeforeMultilineStrings: false
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: Align
IncludeBlocks: Preserve
IncludeCategories:
  - Regex:           '^"(llvm|llvm-c|clang)/'
    Priority:        2
  - Regex:           '^(<|"(gtest|gmock|isl|json)/)'
    Priority:        3
  - Regex:           '<[[:alnum:].]+>'
    Priority:        4
  - Regex:           'script_component.hpp'
    Priority:        -1
  - Regex:           'include\*'
    Priority:        1
